<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/consultores">ConsultApp</a>

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/consultores" routerLinkActive="active">Consultores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre" routerLinkActive="active">Sobre</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="authService.isLoggedIn(); else anonimo">
      <li class="nav-item">
        <span class="navbar-text me-3">
          <span class="navbar-text me-3">
            {{ authService.usuarioAtual?.email }}
          </span>
          
        </span>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
      </li>
    </ul>

    <ng-template #anonimo>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
